
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<meta name="viewport" content="width=device-width" />
<title>Покупка</title>

<div class="main_css">
    <h3>Замовлення квитків</h3>
    <div class="info">
       <h4>Квиток успішно замовлено</h4>


    </div>
</div>

