
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<meta name="viewport" content="width=device-width" />
<title>Покупка</title>

<div class="main_css">
    <h3>Замовлення квитків</h3>
    <div class="info">
        <form method="post" action="/Home/BuyPost">
            <input type="hidden" value="@ViewBag.Id" name="BusId" />
            <table>
                <tr>
                    <td><p>Введіть прізвище</p></td>
                    <td><input type="text" name="Surname" /> </td>
                </tr>
                <tr>
                    <td><p>Введіть ім'я</p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td><p>Введіть номер картки</p></td>
                    <td><input type="number" name="N_card" /> </td>
                </tr>
                <tr>
                    <td><p>Введіть  адресу</p></td>
                    <td><input type="text" name="Address" /> </td>
                </tr>
                <tr>
                <tr>
                    <td><input type="submit"  class="button" value="Додати" /> </td>
                    <td></td>
                </tr>
            </table>
        </form>


    </div>
</div>

